<button class="btn-text m-glossary__item-btn js-glossary-item" aria-expanded="false" aria-label="{{{term}}}" {{{a11y_attrs_heading "component"}}}>
  <div class="m-glossary__item-term">
    <div class="m-glossary__item-term-inner">
      {{{term}}}
    </div>
  </div>
</button>

<div class="m-glossary__item-description js-glossary-item-description">
  <div class="m-glossary__item-description-inner">
    {{{a11y_text description}}}
  </div>
</div>
